{namespace m=Slub\MahuPartners\ViewHelpers}

<f:layout name="Default"/>
<f:comment>
	Template for a basic Detail view of all fields in the document.

	Sets up the page with its title, CSS, JavaScript, the search form and pager,
	uses the field configured as a heading and creates
	a definition list of all field contents.

	This can be a good starting point for refining the detail view for your
	data model.
</f:comment>

<f:section name="Main">
	<m:script file="EXT:mahu_partners/Resources/Public/JavaScript/pages/AbstractPage.js" name="apage"/>
	<m:script file="EXT:mahu_partners/Resources/Public/JavaScript/pages/PartnerPage.js" name="ppage"/>
	
	<script>
		$(document).ready(function(){
			let page = new mahupartners.PartnerPage();
			page.render();
			page.addListeners();
		});
	</script>
	
	<h1><f:translate key="LLL:EXT:mahu_partners/Resources/Private/Language/locallang.xml:partnerpage.preview.heading"/> "{company.name}"</h1>
	<div>
		<p class="previewhint"><i class="fas fa-exclamation-triangle smallicon"></i><f:translate key="LLL:EXT:mahu_partners/Resources/Private/Language/locallang.xml:partnerpage.preview.explanation"/></p>
		<f:link.page
			class="action" 
			pageUid="{settings.dataproviderPageID}">
			<i class="fas fa-long-arrow-alt-left smallicon"></i><f:translate key="LLL:EXT:mahu_partners/Resources/Private/Language/locallang.xml:partnerpage.preview.back"/>
		</f:link.page>
	</div>
	
	<article class="detail partnerPageContent" style="position:relative">
		
		<f:render partial="Mahu/PartnerPage/Partner" arguments="{partner:company}"/>
		
	</article>
	
</f:section>