
<div id="modifierArea">
	<f:if condition="{f:count(subject:config.sortOptions.menu)} > 1">
		<div class="sortOrder">
			<label for="c{config.uid}-sortSelect">
				<f:translate key="LLL:EXT:mahu_partners/Resources/Private/Language/locallang.xml:input.sort"/>
			</label>
			<f:form.select id="c{config.uid}-sortSelect" name="sort" options="{config.sortOptions.menu}" value="{config.sortOptions.selected}"/>
		</div>
	</f:if>

	<f:if condition="{f:count(subject:config.resultCountOptions.menu)} > 1">
		<div class="resultCountPicker">
			<label for="c{config.uid}-resultCountSelect">
				<f:translate key="LLL:EXT:mahu_partners/Resources/Private/Language/locallang.xml:input.count"/>
			</label>
			<f:form.select id="c{config.uid}-resultCountSelect" name="count" options="{config.resultCountOptions.menu}" value="{config.resultCountOptions.selected}"/>
		</div>
	</f:if>
</div>
